<ion-view view-title="Vista de Santiago">
  <ion-content>
    <div class="container">

      <div class="row">

        <h3>Selecciona los filtros</h3>

        <div class="col-md-4">

          <label> Selecciona intención del Tweet </label>
          <div class="form-group inline">
            <label>
              <input type="radio" name="tipo" id="filter_reclamo" value="0" onchange="onFilterChange()"> Reclamo
            </label>
            <label>
              <input type="radio" name="tipo" id="filter_satisfaccion" value="1" onchange="onFilterChange()"> Satisfacción
            </label>
            <label>
              <input type="radio" name="tipo" id="filter_todos" value="todos" onchange="onFilterChange()" checked> Todos
            </label>

          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group inline" id="filtro_empresa"></div>
        </div>


        <div class="col-md-4">
          <div class="form-group inline" id="filtro_topicos"></div>
        </div>

        <hr>

      </div>

      <div class="row" style="margin-top:10px">
        <div class="col-md-4">
          <h4>Tweets por empresa:</h4>
          <div class="row" id="tweets_empresa_tiempo">
              <svg></svg>
          </div>
          <h4>Tweets por empresa y características:</h4>
          <div class="row" id="tweets_empresas_tiempo_topico"></div>
        </div>
        <div class="col-md-5" id="choropleth_comunas"></div>
        <div class="col-md-3" id="tweets_texto">
            <table id="tweets_box" class="display" width="100%"></table>
        </div>
      </div>

    </div>
    
  </ion-content>
</ion-view>
